.facetapi-facetapi-links {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    // Facet item.
    li {
      padding: 0 0 0 10px !important;
    }
}

section.block.block-facetapi {

  padding: 0 0px;

  // Facet title.
  h2 {
  }

   
  // Facet items.
  .item-list > ul {

    margin: 0 0 0 0;
    padding: 0 0 0 0;


    // Facet item.
    li {
      background: none;

      padding: 0 0 0 10px;

      // Facet link.
      a {

      }
    }

  }



}
